@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
h4,
h5 {
    color: #1e1f86;
    font-weight: 700
}

a,
a:hover {
    text-decoration: none;
    outline: none
}

a {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s
}

img {
    max-width: 100%
}

a {
    color: #292828
}

body {
    color: #292828;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.5px
}

.align_items_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.display_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.body_wraper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.pos_inherit {
    position: inherit !important
}

.pinter_event_none {
    pointer-events: none
}

.header_outer {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}

.headerin {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.header_align {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header_outer,
.menudiv {
    height: 90px
}

.logo_sec {
    width: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.logo_sec a {
    display: inline-block
}

.logo_sec a img {
    width: 100%
}

.menudiv {
    width: 100%
}

.menu_secfixed {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown
}

.desktop_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.desktop_menu_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.desktop_menu_ul>li {
    display: block;
    color: #333;
    position: relative;
    margin-right: 0px
}

.desktop_menu_ul>li.arrow_sub {
    margin-right: 10px
}

.arrow_sub>a:after {
    content: "\f0dd";
    position: absolute;
    right: -10px;
    top: -4px;
    font-size: 16px;
    font-family: 'FontAwesome'
}

.desktop_menu_ul>li:first-child a {
    margin-left: 0;
    padding-left: 0
}

.desktop_menu_ul>li:first-child {
    padding-left: 0
}

.desktop_menu_ul>li:last-child {
    padding-right: 0;
    margin-right: 0
}

.desktop_menu_ul>li:last-child a {
    padding-right: 0;
    margin-right: 0
}

.desktop_menu_ul>li>a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #292828;
    display: block;
    position: relative;
    z-index: 21;
    padding: 0 5px;
    line-height: 90px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s
}

.desktop_menu_ul>li>a:hover {
    color: #ec2029
}

.desktop_menu_ul>li.menu_activie>a {
    color: #005499
}

.desktop_menu_ul>li>ul {
    position: absolute;
    left: 0;
    z-index: 20;
    background: #fff;
    width: 330px;
    padding: 40px 50px;
    margin-left: -18px;
    margin-top: 18px;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: center;
    transform-origin: center
}

.desktop_menu_ul>li>ul.ul_widthadj {
    width: 270px
}

.desktop_menu_ul>li:hover>ul {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-delay: 0.5s !important;
    transition-delay: 0.5s !important;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s
}

.desktop_menu_ul>li>ul li {
    display: block
}

.desktop_menu_ul>li>ul li:last-child {
    border-bottom: 0
}

.desktop_menu_ul>li>ul li a {
    color: #292828;
    font-size: 16px;
    display: block;
    line-height: 20px;
    padding: 8px 0;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s
}

.desktop_menu_ul>li>ul li a:hover {
    color: #1e1f86;
    padding-left: 3px
}

.desktop_menu_ul>li.megamenu_child {
    position: inherit
}

.for_megamenu {
    position: relative
}

.desktop_menu_ul li .megmenu_ul {
    position: absolute;
    left: 0;
    z-index: 20;
    background: #fff;
    width: 100%;
    padding: 50px 0 50px;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.desktop_menu_ul li:hover .megmenu_ul {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0.3s !important;
    transition-delay: 0.3s !important;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s
}

.megmenu_ul h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    display: inline-block
}

.megmenu_ul h5:before {
    content: "";
    right: -80px;
    width: 60px;
    height: 2px;
    background: #1e1f86;
    position: absolute;
    top: 13px
}

.megmenu_ul ul li {
    margin-bottom: 15px
}

.megmenu_ul ul li a {
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.megmenu_ul ul li a .cour_icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    height: 40px;
    margin: 0 15px 0 0
}

.megmenu_ul ul li a:hover {
    color: #1e1f86
}

.elip_text {
    overflow: hidden
}

.elip_text p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    outline: none !important;
    text-decoration: none;
    margin: 0
}

.desktop_menu_ul li .mm_about_ul.megmenu_ul {
    padding: 60px 0
}

.mm_about_image {
    height: 300px
}

.mobile_menu {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.panel-menu .sub_item li a {
    font-size: 15px
}

.tt-menu-toggle span {
    background: #fff
}

@media (min-width: 1200px) {
    .desktop_menu_ul>li {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 1199px) {
    .desktop_menu {
        display: none
    }

    .mobile_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .menudiv {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        align-items: center
    }

    .for_megamenu {
        width: 100%
    }
}

.theme_btn {
    display: inline-block;
    background: #ec2029;
    padding: 10px 33px 11px 35px;
    margin-top: 15px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 30px
}

.theme_btn:hover {
    background: #1e1f86;
    color: #fff
}

.theme_btn i {
    margin-left: 5px
}

.totop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    cursor: pointer;
    display: none;
    background: #1e1f86;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    z-index: 10;
    -webkit-box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
    box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.totop span {
    display: block
}

.for_sliderarrow {
    position: relative
}

.home_slider {
    position: relative
}

.home_slider .promo-slider__item:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    content: "";
    background: #000;
    opacity: 0
}

.home_slider .slick-track {
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1)
}

.home_slider .slick-slide {
    height: 100%;
    position: relative;
    z-index: 1
}

.home_slider .slick-slide img {
    width: 100%;
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.home_slider .slick-slide.slick-active img {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.slider_cont {
    margin: auto;
    width: 530px;
    max-width: 100%
}

.promo-slider .align-container {
    padding: 30px 30px;
    position: relative;
    z-index: 2
}

.promo-slider .align-container h4 {
    color: #1e1f86;
    font-size: 24px
}

.promo-slider .align-container h3 {
    color: #1e1f86;
    font-size: 44px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.3;
    font-weight: 700
}

.promo-slider .align-container .theme_btn {
    color: #fff;
    padding: 8px 50px 10px 50px;
    font-size: 18px
}

.promo-slider .align-container .theme_btn:hover {
    background: #1e1f86;
    color: #fff
}

.home_slider .slid_customarrow .slider__prev,
.home_slider .slid_customarrow .slider__next {
    background: transparent;
    font-size: 70px;
    border: 0;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 0;
    opacity: .5
}

.home_slider .slid_customarrow .slider__prev i,
.home_slider .slid_customarrow .slider__next i {
    position: relative;
    top: 1px;
    line-height: 0
}

.home_slider .slid_customarrow .slider__prev:hover,
.home_slider .slid_customarrow .slider__next:hover {
    color: #fff;
    opacity: 1
}

.slide_row_ {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.slick_customstyle .slick-slide {
    outline: none;
    padding: 0 15px
}

.slick_customstyle .slick-list {
    margin: 0 -15px
}

.slick_customstyle .slick-dots {
    bottom: -80px
}

.overflow_slide .slick-list {
    overflow: visible
}

@media (max-width: 1199px) {
    .align-container__item {
        padding-left: 40px
    }
}

@media (max-width: 991px) {
    .promo-slider .align-container h3 {
        font-size: 36px
    }

    .promo-slider .align-container__item {
        padding-bottom: 30px
    }
}

@media (max-width: 767px) {
    .promo-slider .align-container {
        text-align: center
    }

    .align-container__item {
        padding-left: 0
    }

    .promo-slider .align-container h4,
    .promo-slider .align-container h3 {
        color: #fff
    }

    .promo-slider .align-container h4 {
        font-size: 16px;
        font-weight: 400
    }

    .promo-slider .align-container h3 {
        font-size: 20px;
        margin-bottom: 5px
    }

    .home_slider .promo-slider__item:before {
        opacity: .4
    }

    .promo-slider .align-container .theme_btn {
        padding: 4px 30px 6px 32px;
        font-size: 14px
    }

    .home_slider .slick-dots button:before {
        background: #fff
    }

    .home_slider .slick-dots .slick-active button {
        border-color: #fff
    }
}

.home_slider .slid_customarrow {
    display: none
}

@media (min-width: 576px) {
    .home_slider .slid_customarrow {
        display: block
    }

    .home_slider .slid_customarrow .slider__prev,
    .home_slider .slid_customarrow .slider__next {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 11
    }

    .home_slider .slid_customarrow .slider__prev {
        left: 15px
    }

    .home_slider .slid_customarrow .slider__next {
        right: 15px
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f3ef;
    z-index: 10005;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

#status {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/logo-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.home_intro {
    width: 100%;
    padding: 100px 0
}

.main_title {
    font-size: 47px;
    line-height: 1.3;
    margin-bottom: 30px
}

.main_title .t_line {
    display: inline-block;
    padding-left: 5px
}

.main_title .t_line span {
    width: 40px;
    height: 6px;
    border-radius: 30px;
    background: #19d1ff;
    display: inline-block;
    vertical-align: middle
}

.read_link {
    font-weight: 700;
    color: #1e1f86;
    font-size: 16px;
    margin-top: 15px;
    display: inline-block;
    letter-spacing: .8px
}

.read_link:hover {
    color: #ec2029
}

.read_link_red{
    color: #ec2029;
    transition: 0.3s ease-in-out;
    font-size: 12px;
}

.read_link_red:hover{
    color: #1e1f86;
    letter-spacing: 1px;
}

.read_link i {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 13px
}

.int_imgb_part {
    width: 100%;
    position: relative
}

.int_imgb_part .circle_box1 {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 50%;
    border: 12px solid #ec2029;
    z-index: 1
}

.int_imgb_part .circle_box2 {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 100px;
    bottom: 0;
    border-radius: 50%;
    border: 20px solid #19d1ff;
    z-index: 1
}

.int_imgblock {
    width: 100%;
    position: relative;
    z-index: 2
}

.float_up {
    width: 100%;
    height: auto;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 5s ease-in-out infinite;
    animation: float 5s ease-in-out infinite
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px)
    }

    50% {
        -webkit-transform: translatey(-25px);
        transform: translatey(-25px)
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px)
    }

    50% {
        -webkit-transform: translatey(-25px);
        transform: translatey(-25px)
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px)
    }
}

.float_right {
    width: 100%;
    height: auto;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation: float2 5s ease-in-out infinite;
    animation: float2 5s ease-in-out infinite
}

@-webkit-keyframes float2 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes float2 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

.ab_countsec {
    width: 100%;
    padding-top: 60px
}

.ab_countsec ul {
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.ab_countsec li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 25px 15px;
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ab_countsec li:last-child {
    border: 0
}

.ab_countsec li>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ab_countsec .count_icon {
    width: 90px;
    height: 90px;
    margin-right: 15px
}

.ab_countsec .count_icon1 {
    background: url("../images/cou-icon1.svg") no-repeat center;
    background-size: contain
}

.ab_countsec .count_icon.count_icon2 {
    background: url("../images/cou-icon2.svg") no-repeat center;
    background-size: contain;
    width: 80px;
    height: 80px
}

.ab_countsec .count_icon.count_icon3 {
    background: url("../images/cou-icon3.svg") no-repeat center;
    background-size: contain;
    width: 80px;
    height: 80px
}

.ab_countsec .count_dece h5 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    color: #333;
    font-weight: 600;
    line-height: 1.5
}

.ab_countsec .count_dece .counter_number {
    font-size: 50px;
    font-family: "Bebas Neue", cursive;
    line-height: 1;
    margin: 0 0 5px;
    color: #949494;
    font-weight: 400;
    position: relative
}

.ab_countsec .count_dece .counter_number:after {
    content: "+";
    display: inline-block;
    vertical-align: middle;
    font-size: 47px;
    position: relative;
    right: -5px
}

@media (max-width: 991px) {
    .ab_countsec li>div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .ab_countsec .count_icon {
        margin: 0 auto 15px;
        width: 80px;
        height: 80px;
        background-position: center bottom
    }

    .int_imgb_part {
        width: 404px;
        max-width: 100%;
        margin: auto
    }

    .intro_contpart {
        text-align: center;
        padding-top: 30px
    }

    .intro_contpart .main_title .t_line {
        display: block;
        padding-left: 0px
    }

    .int_imgb_part .circle_box2 {
        right: 0
    }
}

@media (max-width: 767px) {
    .ab_countsec .count_dece .counter_number {
        font-size: 36px
    }

    .main_title {
        font-size: 36px
    }
}

@media (max-width: 575px) {
    .ab_countsec ul {
        border: 0
    }

    .ab_countsec ul li {
        width: 100%;
        border: 0;
        margin-bottom: 10px
    }

    .main_title {
        font-size: 30px
    }

    .home_intro {
        padding: 50px 0
    }

    .ab_countsec {
        padding-top: 30px
    }
}

.hm_placement {
    width: 100%;
    padding: 60px 0 60px
}

.hm_pmt_right {
    padding-left: 30px
}

.pmt_cate_box {
    margin-bottom: 40px
}

.pmt_cateimg {
    height: 180px;
    margin-bottom: 20px
}

.pmt_cateimg img {
    -webkit-transform: scale(1.01);
    transform: scale(1.01)
}

.comn_img_block {
    overflow: hidden;
    position: relative
}

.comn_img_block img {
    position: absolute;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%
}

.pmt_cate_title h5 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5
}

.pmt_cate_title p {
    line-height: 1.8
}

.hm_plmt_title .main_title .t_line {
    padding: 0;
    display: block
}

@media (max-width: 575px) {
    .hm_plmt_title {
        text-align: center
    }

    .hm_pmt_right {
        padding: 0
    }

    .pmt_cate_box {
        width: 300px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto
    }

    .hm_placement {
        padding: 0 0 30px
    }
}

.hm_testimonial {
    width: 100%;
    padding: 60px 0 0
}

.tes_slider {
    width: 100%;
    padding-bottom: 150px
}

.tes_slider .main_title {
    font-weight: 400;
    font-size: 40px
}

.tes_slider .slick-dots button:before {
    background: #a3a9ac
}

.tes_slider .slick-dots .slick-active button {
    border-color: #ec2029
}

.tes_slider .slick-dots .slick-active button:before {
    background: #ec2029
}

.tes_box_outer {
    width: 100%
}

.tes_box {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 30px;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.tes_box .qute_icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: url("../images/right-quote.svg") no-repeat center bottom;
    background-size: contain
}

.tes_auther_title h5 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0 5px
}

.tes_auther_title span {
    display: block
}

.tes_img_block {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden
}

.tes_img_block>div {
    width: 100%;
    text-align: center;
    position: relative
}

.tes_img_block>div .circle_box1 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 60px;
    top: 80px;
    border-radius: 50%;
    border: 12px solid #ec2029;
    z-index: 1
}

.tes_img_block>div .circle_box2 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 200px;
    border-radius: 50%;
    border: 12px solid #19d1ff;
    z-index: 1
}

.tes_img_block>div img {
    position: relative;
    z-index: 2
}

@media (max-width: 575px) {
    .hm_testimonial {
        padding: 0
    }

    .tes_img_block>div .circle_box1 {
        top: 30px
    }

    .tes_img_block>div .circle_box2 {
        left: 40px
    }

    .tes_slider .main_title {
        font-size: 30px
    }
}

.comn_apply_linkd {
    width: 100%;
    background: #1e1f86;
    padding: 100px 0;
    position: relative;
    overflow: hidden
}

.ca_link_box {
    text-align: center;
    position: relative;
    z-index: 2
}

.ca_link_box h3 {
    font-weight: 400;
    color: #e8ecf0;
    line-height: 1.3;
    font-size: 36px;
    margin-bottom: 20px
}

.ca_link_box p {
    color: #e8ecf0
}

.ca_link_box .theme_btn {
    padding: 8px 60px 10px
}

.ca_link_box .theme_btn:hover {
    background: #fff;
    color: #1e1f86
}

.globe {
    position: absolute;
    bottom: -340px;
    left: 0;
    width: 680px;
    height: 680px;
    background: url("../images/glob.svg") no-repeat center;
    background-size: contain;
    z-index: 1
}

.globe {
    -webkit-animation: rotation 172s infinite linear;
    animation: rotation 172s infinite linear
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg)
    }
}

@media (max-width: 991px) {
    .globe {
        width: 380px;
        height: 380px;
        bottom: -180px
    }
}

@media (max-width: 575px) {
    .comn_apply_linkd {
        padding-top: 60px
    }

    .ca_link_box h3 {
        font-size: 30px
    }
}

.home_news {
    width: 100%;
    padding: 100px 0 70px;
    background: #fff
}

.hm_news_title {
    padding-bottom: 20px
}

.hm_news_cate {
    margin-bottom: 40px
}

.hm_news_cate .hn_date {
    font-size: 15px;
    text-transform: uppercase;
    color: #1e1f86;
    padding-bottom: 5px
}

.hm_news_cate h4 {
    overflow: hidden;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 600;
    text-transform: uppercase
}

.hm_news_cate h4 a {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    outline: none !important;
    text-decoration: none;
    margin: 0
}

.hm_news_cate h4:hover a {
    color: #1e1f86
}

@media (min-width: 1200px) {
    .home_news .news_row {
        margin: 0 -30px
    }

    .home_news .nws_col {
        padding: 0 30px
    }
}

.hm_ds_newslink {
    text-align: right;
    padding-top: 5px
}

.hm_mb_newslink {
    display: none
}

@media (max-width: 991px) {
    .hm_ds_newslink {
        display: none
    }

    .hm_mb_newslink {
        display: block
    }

    .hm_mb_newslink a {
        margin: 0
    }
}

@media (max-width: 575px) {
    .hm_news_title {
        padding: 0
    }

    .home_news {
        padding: 50px 0
    }

    .hm_news_cate {
        margin-bottom: 30px
    }
}

.footer_sec {
    background: #08081b;
    padding: 100px 0 0;
    position: relative;
    overflow: hidden
}

.footer_sec li,
.footer_sec a,
.footer_sec p {
    color: #a5a5a9
}

.footer_sec a:hover {
    color: #fff
}

.footer_in {
    position: relative;
    z-index: 2
}

.globe2 {
    position: absolute;
    bottom: -265px;
    right: -140px;
    width: 680px;
    height: 680px;
    background: url("../images/glob2.svg") no-repeat center;
    background-size: contain;
    z-index: 1;
    -webkit-animation: rotation2 172s infinite linear;
    animation: rotation2 172s infinite linear
}

@-webkit-keyframes rotation2 {
    from {
        -webkit-transform: rotate(359deg)
    }

    to {
        -webkit-transform: rotate(0deg)
    }
}

@keyframes rotation2 {
    from {
        -webkit-transform: rotate(359deg)
    }

    to {
        -webkit-transform: rotate(0deg)
    }
}

.footer_contact {
    width: 100%
}

.fcontact_cate ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px
}

.fcontact_cate ul li i {
    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px
}

.fcontact_cate ul a {
    display: inline-block
}

.fcontact_cate ul .ftr_call {
    margin-bottom: 20px;
    padding-left: 55px;
    margin-top: 22px
}

.fcontact_cate ul .ftr_call i {
    font-size: 30px;
    top: -1px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 10px;
    color: #ec2029
}

.fcontact_cate ul .ftr_call a {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    line-height: 1
}

.fcontact_cate ul .ftr_call a:last-child {
    border: 0;
    padding: 0;
    margin: 0
}

.fcontact_cate ul .ftr_whtapp a {
    line-height: 1;
    position: relative;
    top: 1px
}

.fcontact_cate ul .ftr_whtapp span {
    color: #dadada;
    display: inline-block
}

.footer_social {
    margin-top: 30px
}

.footer_social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer_social ul li {
    display: inline-block;
    margin-right: 15px
}

.footer_social ul li:last-child {
    margin: 0
}

.footer_social ul li:first-child a {
    padding-left: 0
}

.footer_social ul li a {
    font-size: 20px;
    padding: 10px 5px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%
}

.footer_social ul li a:hover {
    color: #ec2029
}

.ftr_widget {
    width: 100%
}

.ftr_widget h5 {
    font-size: 20px;
    margin-bottom: 25px;
    color: #dadada;
    font-weight: 600
}

.ftr_nav ul li {
    margin-bottom: 10px
}

.footer_copyright {
    padding: 35px 0;
    margin-top: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer_copyright p {
    margin: 0;
    font-size: 14px;
    line-height: 2
}

.footer_copyright p img {
    width: 125px;
    opacity: 0.8
}

@media (max-width: 991px) {
    .ftr_widget.footer_social {
        padding-top: 10px
    }

    .footer_copyright {
        margin-top: 60px
    }
}

@media (max-width: 767px) {
    .fcontact_cate {
        margin-bottom: 50px
    }

    .globe2 {
        width: 550px;
        height: 550px
    }
}

@media (max-width: 575px) {
    .footer_sec {
        padding-top: 60px
    }

    .globe2 {
        width: 350px;
        height: 350px;
        bottom: 30px;
        right: -100px
    }
}

.in_bnr {
    min-height: 480px;
    background: #08081b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px 0
}

.in_bnr:before {
    background: #000;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.in_bnr h3 {
    font-size: 47px;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 20px
}

.in_bnr p {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    color: #fff;
    margin: 0
}

.in_bnr.ib_op1:before {
    opacity: 0.1
}

.in_bnr.ib_op2:before {
    opacity: 0.2
}

.in_bnr.ib_op3:before {
    opacity: 0.3
}

.in_bnr.ib_op4:before {
    opacity: 0.4
}

.in_bnr.ib_op5:before {
    opacity: 0.5
}

.in_bnr.ib_op6:before {
    opacity: 0.6
}

.in_bnr.ib_op7:before {
    opacity: 0.7
}

.in_bnr.ib_op8:before {
    opacity: 0.8
}

.in_bnr.ib_op9:before {
    opacity: 0.9
}

.inab_cont {
    width: 100%;
    padding: 130px 0
}

.inab_cont .ab_countsec {
    margin-top: 40px
}

.mission_sec {
    width: 100%;
    padding: 0px 0 130px
}

.mis_sec_left {
    width: 100%
}

.mis_sec_left h5 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500
}

.mis_sec_right {
    position: relative
}

.mis_sec_right .comn_img_block {
    height: 600px
}

.com_circle_box1,
.com_circle_box2 {
    position: absolute;
    border-radius: 50%;
    border: 12px solid;
    z-index: 1
}

.com_circle_box1 {
    left: 30px;
    top: 30px;
    border-color: #ec2029;
    width: 60px;
    height: 60px
}

.com_circle_box2 {
    right: 30px;
    bottom: 60px;
    border-color: #19d1ff;
    width: 100px;
    height: 100px
}

@media (max-width: 991px) {
    .mis_sec_left {
        margin-bottom: 40px
    }
}

@media (max-width: 575px) {
    .inab_cont {
        padding: 50px 0
    }

    .inab_cont .ab_countsec {
        margin: 0
    }

    .mission_sec {
        padding-bottom: 50px
    }

    .in_bnr {
        min-height: 370px
    }

    .in_bnr h3 {
        font-size: 30px
    }

    .in_bnr p {
        font-size: 16px
    }
}

@media (max-width: 400px) {
    .mis_sec_right .comn_img_block {
        height: 400px
    }
}

.contact_sec {
    padding: 100px 0
}

.contact_sec .main_title {
    font-size: 26px
}

@media (min-width: 992px) {
    .contact_sec .col-lg-6 {
        border-right: 1px dashed rgba(0, 0, 0, 0.2)
    }

    .contact_sec .col-lg-6:last-child {
        border: 0
    }
}

.geting_touch {
    padding-right: 100px
}

.input_div {
    margin-bottom: 30px;
    width: 100%
}

.input_div input {
    width: 100%;
    height: 50px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0;
    color: #333;
    outline: none;
    background: none
}

.input_div textarea {
    width: 100%;
    height: 110px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 7px;
    padding: 0;
    color: #333;
    outline: none;
    background: none
}

.input_btn input {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    outline: none;
    font-size: 16px;
    padding: 10px 60px 12px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.placeholder_style input:focus::-webkit-input-placeholder {
    opacity: 0
}

.placeholder_style input:focus::-moz-placeholder {
    opacity: 0
}

.placeholder_style input:focus:-ms-input-placeholder {
    opacity: 0
}

.placeholder_style input::-webkit-input-placeholder {
    color: #333;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.placeholder_style input::-moz-placeholder {
    color: #333;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.placeholder_style input:-ms-input-placeholder {
    color: #333;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.placeholder_style textarea:focus::-webkit-input-placeholder {
    opacity: 0
}

.placeholder_style textarea:focus::-moz-placeholder {
    opacity: 0
}

.placeholder_style textarea:focus:-ms-input-placeholder {
    opacity: 0
}

.placeholder_style textarea::-webkit-input-placeholder {
    color: #333;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.placeholder_style textarea::-moz-placeholder {
    color: #333;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.placeholder_style textarea:-ms-input-placeholder {
    color: #333;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.contact_info {
    width: 100%;
    padding-left: 100px
}

.contact_info ul li {
    margin-bottom: 30px
}

.contact_info ul li span {
    display: block;
    font-weight: 600;
    margin-bottom: 5px
}

.contact_info ul a,
.contact_info ul li {
    color: #000
}

.contact_info ul .ci_phone a {
    font-size: 30px
}

.contact_info ul a:hover {
    color: #1e1f86
}

@media (max-width: 991px) {
    .contact_info {
        padding: 80px 0 0
    }

    .geting_touch {
        padding: 0
    }
}

@media (max-width: 575px) {
    .contact_sec {
        padding: 50px 0 20px
    }
}

.testimonial_page {
    width: 100%;
    padding: 100px 0 40px
}

.testimonial_page .in_title {
    text-align: center;
    margin-bottom: 40px
}

.testimonials_box {
    width: 100%;
    padding: 60px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 60px
}

.testimonials_box>div {
    position: relative;
    padding: 0 0 0 115px
}

.testimonials_box>div p {
    line-height: 2
}

.testimonials_box>div .qute_icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: url("../images/right-quote.svg") no-repeat center top;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0
}

.testimonials_box>div h6 {
    line-height: 1.5;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    margin: 20px 0 0
}

.testimonials_box>div h6 span {
    display: inline-block;
    font-weight: 400;
    color: #333
}

@media (max-width: 991px) {
    .testimonials_box {
        text-align: center
    }

    .testimonials_box>div .qute_icon {
        position: inherit;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .testimonials_box>div {
        padding: 0
    }
}

@media (max-width: 575px) {
    .testimonial_page {
        padding: 50px 0 0
    }

    .testimonials_box {
        padding: 60px 30px
    }
}

.update_soon_page {
    min-height: 600px;
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 1
}

.update_soon_page:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../images/glob.svg") no-repeat center;
    background-size: 250px;
    opacity: .2;
    z-index: -1
}

.news_page {
    width: 100%;
    padding: 75px 0 60px;
    background: #f7f7f7
}

.news_page .main_title {
    text-align: center;
    margin-bottom: 40px
}

.news_box {
    display: block;
    margin-bottom: 60px;
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1)
}

.news_box .comn_img_block {
    height: 260px
}

.news_box .comn_img_block img {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.nbox_title {
    padding: 40px
}

.nbox_title h6 {
    font-size: 24px;
    padding-top: 4px;
    line-height: 1.5;
    overflow: hidden;
    color: #000;
    font-weight: 500;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.nbox_title h6 span {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    outline: none !important;
    text-decoration: none
}

.news_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 1.25rem;
    overflow: hidden;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 30px 0 20px
}

.news_link>* {
    display: block;
    height: 1.25rem;
    line-height: 1.25rem;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, transform 0.4s;
    transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;
    font-size: 16px
}

.news_link .news_date {
    color: #333;
    opacity: 1;
    text-transform: uppercase
}

.news_link .news_view_article {
    color: #ec2029;
    opacity: 0;
    text-transform: uppercase
}

.news_box:hover .news_link>* {
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem)
}

.news_box:hover .news_link .news_date {
    opacity: 0
}

.news_box:hover .news_link .news_view_article {
    opacity: 1
}

.news_box:hover .comn_img_block img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

@media (max-width: 575px) {
    .news_page {
        padding: 50px 0 30px
    }
}

.news_detailpage {
    width: 100%;
    padding: 50px 0 60px;
    background: #f7f7f7
}

.news_detail_outer {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.news_detailbox {
    width: 100%;
    padding: 30px 30px 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.news_detai_img {
    width: 100%;
    margin-bottom: 30px
}

.news_detail_content {
    width: 100%
}

.news_detail_content h6 {
    font-size: 27px;
    color: #333;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: 600
}

.news_detail_content h6 span {
    display: block;
    color: #666;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase
}

.news_detail_content p {
    text-align: justify
}

.nws_sidbar_bdr {
    border-left: 1px solid rgba(0, 0, 0, 0.1)
}

.news_sidebar {
    width: 100%;
    padding: 30px 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.news_sidebar h6.news_sidbar_title {
    color: #333;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
    position: relative
}

.news_sidebar h6.news_sidbar_title:before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 1px;
    background: #666;
    position: absolute;
    left: 0;
    bottom: -10px
}

.news_sidebar ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.news_sidebar ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0
}

.news_sidebar ul li .news_sidbar_image {
    margin-right: 15px
}

.news_sidebar ul li .news_sidbar_image a {
    display: block;
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 80px
}

.news_sidebar ul li .news_sidbar_image a img {
    position: absolute;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    content: "";
    width: 100%;
    height: 100%
}

.news_sidebar ul li .ns_info span {
    display: block;
    color: #333;
    font-size: 14px;
    margin-bottom: 3px
}

.news_sidebar ul li .ns_info .news_sidebar_text {
    overflow: hidden
}

.news_sidebar ul li .ns_info a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    outline: none !important;
    text-decoration: none;
    line-height: 1.5
}

.news_sidebar ul li .ns_info a:hover {
    color: #1e1f86
}

@media (max-width: 991px) {
    .news_detailbox {
        margin-bottom: 40px
    }
}

@media (max-width: 767px) {
    .news_detailpage {
        background: #fff
    }

    .news_detailbox {
        border: 0;
        padding: 0
    }
}

@media (max-width: 420px) {
    .news_sidebar ul li .ns_info span {
        font-size: 12px
    }

    .news_sidebar ul li .news_sidbar_image a {
        width: 65px
    }
}

.tmt_backlinks {
    width: 100%;
    margin: 50px 0 30px
}

.tmt_backlinks a {
    font-size: 18px;
    color: #333;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.tmt_backlinks a i {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-right: 15px;
    padding-right: 2px;
    padding-bottom: 2px;
    background: transparent;
    position: relative;
    top: 2px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s
}

.tmt_backlinks a:hover i {
    border-color: #ec2029;
    background: #ec2029;
    color: #fff
}

/* new changes in about */


.mission_sec ul li i{
    color: #19d1ff;
    margin-right: 10px;
}

.who-we-are{
    padding: 100px 0;
    width: 100%;
    background: #eeeff6;
}

.table td{
    height: 150px;
    vertical-align: middle;
}

.table thead th{
    vertical-align: middle;
}

.in_bnr{
    min-height: 450px;
}

.mb-50{
    margin-bottom: 50px;
}

.comn_apply_linkd-bg{
    background: url('../images/world-wide.jpg');
    background-size: cover;
    position: relative
}

.bg-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-color: #051701;
}

.mission_sec{
    padding: 130px 0;
}

/* Popup */
.modal{
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,.7);
}

.modal-dialog{
    max-width: 900px;
}
.modal-title{
    font-size: 35px;
    font-weight: 700;
}

.modal-content, .modal-body{
    border: 0;
    padding: 0;
    border-radius: 0;
}

.modal-left{
    width: 50%;
    float: left;
    height: 480px;
    background: url(../images/about/who-are-we.png) center no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    padding: 60px;
}

.modal-left .overlay{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-right{
    width: 50%;
    float: left;
    height: 480px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 60px;
}

.modal-right form{
    width: 100%;
}

.modal-right form .form-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.modal-right input{
    float: left;
    height: 45px;
    width: 100%;
    border: 0;
    outline: none;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    padding: .375rem 0;
}

.modal-heading{
    position: absolute;
    top: 0;
    padding: 25px;
}

.modal-heading h3{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-body button.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    z-index: 9999;
}

.modal-body button.close i{
    font-size: 15px;
    border: 1px solid #ec2029;
    padding: 10px;
    border-radius: 50%;
    background: #ec2029;
}


.placement-lists .item img{
    height: 250px;
}

.placement-lists .item{
    /* box-shadow: 0 4px 8px rgb(0 0 0 / 15%); */
    border-radius: 10px;
    min-height: 370px;
    border: 2px solid #eee;
}

.placement-lists .item .item-content{
    padding: 15px;
}

.placement-lists .item h2{
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.placement-lists .item h3{
    font-size: 1.2rem;
}

.owl-nav{
    position: absolute;
    left: -163px;
    bottom: 0px;
}

.placement-lists .owl-nav div{
    line-height: 40px;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid #19d1ff;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]{
    background: transparent;
    color: #19d1ff;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #19d1ff;
}

@media(max-width: 991px){
    .owl-nav{
        position: absolute;
        bottom: -30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hm_placement{
        padding-bottom: 120px;
    }
}

@media(max-width: 767px){
    .placement-lists .item{
        min-height: 405px;
    }
}

@media(max-width: 550px){
    .placement-lists .item{
        min-height: 380px;
    }
}

/*# sourceMappingURL=custom.css.map */